.upload-area .alert {
  position: relative;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.rebate-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
