.upload-area .alert {
  position: relative;
}

.upload-area input[type="file"] {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
}

.rebate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rebate-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin-bottom: 10px;
  padding-top: 10px;
}
